<input type="hidden" name="view" value="{{ view }}">
<input type="hidden" name="q" value="{{ q }}">
<input type="hidden" name="location" value="{{ location }}">
<input type="hidden" name="sort" value="{{ sort }}">
<input type="hidden" name="category" value="{{ category }}">
<input type="hidden" name="tech" value="{{ tech }}">
<input
    type="hidden"
    name="experience"
    value="{{ experience_level }}"
>
<input type="hidden" name="page" value="{{ page }}">
<input
    type="hidden"
    name="filter_status"
    value="{{ application_status }}"
>
